{% extends "main/base.html" %}

{% block content %}


<div class="" id="home">
    <div class="container-narrow">
        <div id="holder_slide">
      <div class="jumbotron">
        <h1>Orakelquiz</h1>
        <h3>Kjære studenter!</h3>
        <h4>I 2013 er det 50 år siden Orakeltjenesten ble stiftet og dette skal feires!</h4>
        <h4> Derfor har vi laget en quiz der dere blir litt bedre kjent med oss. <br/>Hver dag fra 2. til 6. september kl. 16:00 trekker vi en vinner som får et<br/> Kindle lesebrett!</h4>
      </div>

      
<!-- Boksen som vises hvis tiden ikke er inne... -->
      <div class="box-login" id="not_open"style="display:none;">
        <h4 style="text-align:center;"> Logg inn med NTNU-brukernavn og passord for å ta quizen!</h4><br/>

        <p style="text-align:center; color:#E09586;">Quizen er ikke åpen ennå.</p>

        <form action="" method="" class="form-horizontal">
          {% csrf_token %}

          <div class="control-group">
            <label class="control-label" for="inputEmail">NTNU-brukernavn</label>
            <div class="controls">
              {{ form.username }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Passord</label>
            <div class="controls">
              {{ form.password }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="" class="btn btn-primary" disabled>Ta quizen!</button>
            </div>
          </div>
        </form>
        <p style="text-align:center; text-decoration:underline;"> Merk at du kun kan ta quizzen en gang. </p>
      </div>

<!-- Boksen som vises når quizen er åpen -->
       <div class="box-login" id="open" style="display:none;">
        <h4 style="text-align:center;"> Logg inn med NTNU-brukernavn og passord for å ta quizzen!</h4><br/>
<!-- Hvis brukernavn/passord ikke går igjennom LDAP vises dette: -->
        {% if form.errors %}
        <p style="text-align:center; color:#E09586;">Brukernavnet og passordet ditt er ikke riktig. <br/>Bruk det samme som du bruker for å logge deg på innsida og webmail.</p>
        {% endif %}

        <form action="" method="post" class="form-horizontal">
          {% csrf_token %}

          <div class="control-group">
            <label class="control-label" for="inputEmail">NTNU-brukernavn</label>
            <div class="controls">
              {{ form.username }}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Passord</label>
            <div class="controls">
              {{ form.password }}
            </div>
          </div>
          <div class="control-group">
            <div class="controls">

              <button type="submit" class="btn btn-primary  ">Ta quizzen!</button>
            </div>
          </div>
        </form>
        <p style="text-align:center; text-decoration:underline;"> Merk at du kun kan ta quizzen en gang. </p>
      </div>


        </div> <!-- /holder_slide -->
    </div> <!-- /container -->
</div> <!-- /slide -->


{% endblock %}
